.header {
  min-width: 1200px;
  margin: 0 auto;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.header .line {
  min-width: 1200px;
  border: 1px solid #d0d4d9;
  box-shadow: 0px 1px 1px #cbcccd;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.header__container {
  min-height: 70px;
  width: 1200px;
  margin: 0 auto;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.header__container_drop-business {
  width: 30%;
  padding-left: 5%;
}
.header__container_drop-business a {
  text-decoration: none;
  color: #007ee5;
  border: 1px solid #007ee5;
  border-radius: 5%;
  padding: 0.5em 1em;
  font-size: 15px;
}
.header__container_drop-business a:hover {
  color: #0363B1;
}
.header__container_logo {
  width: 30%;
  padding-left: 8%;
}
.header__container_logo .logo-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.header__container_logo .logo-text img {
  padding: 1%;
  margin: 0 auto;
}
.header__container_logo .logo-text img:nth-child(1) {
  margin-right: 0px;
}
.header__container_logo .logo-text img:nth-child(2) {
  margin-left: 0px;
}
.header__container_download-login {
  width: 33%;
  padding-left: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.header__container_download-login .download {
  width: 50%;
}
.header__container_download-login .login {
  width: 50%;
  padding-left: 8%;
}
.header__container_download-login a {
  text-decoration: none;
  color: #007ee5;
}
.header__container_download-login a:hover {
  text-decoration: underline;
}
